{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
    <h1> 제목 : {{post.title}} </h1>
    <p> 작성 날짜 : {{post.pub_date}} </p>
    <p> 자세한 본문 : {{post.content}} </p>
    
        <form action="{% url 'post_like' post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" value="Like">좋아요</button>
        </form>

        <p>좋아요 {{ post.like_count }}개</p>
        {% for like_user in post.like_user_set.all %}
            <p>{{ like_user.username }}</p>
        {% endfor %}


        {% if post.author == user %}
            <a href = "{% url 'delete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
        {% endif %}

    <hr>
    {% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{comment.comment_date}}</div>
        <p>{{comment.comment_contents}}</p>
        <a href = "{% url 'delete1' comment_id=comment.id post_id=post.id  %}">삭제</a>
    </div>
    {% empty %}
    <p>No comment here yet</p>
    {% endfor %}
    <hr>
    <form action="{% url 'comment_write' post_pk=post.pk %}" method = "POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Write your comments">
        <input type = "submit" value="Write"/>
    </form>

    <a href = "{% url 'index' %}">뒤로가기</a>
<div>

{% endblock %}