{% extends 'base.html' %}
{% block content %}
<div class="container">

    <br>
    <a href = "{% url 'newpost' %} "> 글쓰기</a>
    <br>
    {% for post in posts_show.all %}
    <div class ="post">
        <h1>{{post.title}}</h1>
        <p>{{post.summary}}</p>
        <p>{{post.pub_date}}</p>
        <a href = "{% url 'updatemodify' post.id%}">수정</a>
        <a href = "{% url 'delete' post.id%}">삭제하기</a>
        <a href = "{% url 'detail' post.id %}">...more</a>
    </div>
    {% endfor %}
</div>    
{% endblock %}